<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Corujinhas - Escola de Educação Infantil</title>
    <link rel="shortcut icon" href="../img/img-escola-educacao-infantil/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="../css/bulma-carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../css/custom-escola-educao-infantil.css">
</head>

<body>
    <section class="hero is-fullheight has-carousel">
        <div class="hero-carousel carousel-animated carousel-animate-fade" data-autoplay="true">
            <div class='carousel-container'>
                <div class='carousel-item has-background is-active'>
                    <img class="is-background" src="../img/img-escola-educacao-infantil/children-bkg1.jpg" alt="" />
                </div>
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../img/img-escola-educacao-infantil/children-bkg2.jpg" alt="" />
                </div>
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../img/img-escola-educacao-infantil/children-bkg3.jpg" alt="" />
                </div>
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../img/img-escola-educacao-infantil/children-bkg4.jpg" alt="" />
                </div>
            </div>
            <div class="carousel-navigation is-overlay">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="hero-head">
            <nav class="navbar" id="menu-principal">
                <div class="container">
                    <div class="navbar-brand">

                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu is-info">
                        <div class="navbar-start">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Inicio</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-address-book-o"></i>
                                    </span>
                                    <span>Sobre Nós</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Nossas Atividades</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-bullhorn"></i>
                                    </span>
                                    <span>Entre em Contato</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title is-font-white">
                        Venha nos conhecer
                    </h1>
                    <h2 class="subtitle is-font-white">
                        Venha você também fazer parte deste ninho!! <br>
                        <blockquote>Quer Saber Mais deixe o seu contato e nós vamos retornar!!</blockquote>
                    </h2>
                    <div class="box">
                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Deixe seu email">
                            </p>
                            <p class="control">
                                <a class="button is-info">
                                    Quero saber mais
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main class="container is-fluid">
        <div id="sobre-nos">
            <span class="title is-size-1 has-text-centered is-font-white">
                <h1> Sobre Nós</h1>
            </span>
            <span class="subtitle is-size-2">
                <p class="column is-font-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec ultricies nunc, id condimentum leo. Suspendisse potenti.
                    Maecenas nec erat sit amet lorem malesuada varius ac ut nibh. Nullam gravida tortor ut porta bibendum.
                    Donec sed risus ultrices, condimentum elit imperdiet, rutrum dolor. Pellentesque eu leo sit amet orci
                    semper posuere id ut nulla. Duis tristique risus libero, ac congue nulla posuere sit amet.
                </p>
            </span>

        </div>
        <div id="Nossos-eventos">
            <span class="title has-text-centered is-size-1">
                <h1> Nossas Atividades</h1>
            </span>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Aula de musicalização</p>
                        <p class="subtitle">
                            Soprar é considerada uma habilidade motora oral importante para o desenvolvimento da fala. <br>                            Isso
                            porque soprar requer uma musculatura forte das bochechas, mandíbula, lábios e língua a fim de
                            produzir o sopro. <br> Por isso, o Professor Rodrigo, de musicalização, trouxe para o Maternal
                            1 a flauta. Foi uma aula muito alegre, onde os pequenos puderam aprender, dançar e ainda se divertir
                            muito!
                        </p>
                        <div class="embed-container">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F2066791023553102%2Fvideos%2F605640873163562%2F&show_text=0&width=476"
                                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                        </div>

                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-success">
                        <p class="title">Iniciando na matemática</p>
                        <p class="subtitle">Jogo lúdico para ensinar a contar</p>
                        <div class="content">
                            <p>Através de jogos e brincadeiras fazemos a iniciação aos numeros das crianças de forma divertida
                                eles <br> aprendem e criam o pensamento lógico racional.
                            </p>
                            <div class="embed-container">
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F2066791023553102%2Fvideos%2F441388203019375%2F&show_text=0&width=476"
                                    style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                                    allowFullScreen="true"></iframe>
                            </div>
                        </div>
                    </article>
                </div>
            </div>


            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Alfabetizando</p>
                        <p class="subtitle">Aprendendo a primeira letra do alfabeto</p>
                        <div class="content">
                            <p>Nesta semana a turma do maternal aprendeu sobre a primeira letra do alfabeto, a vogal A. Descobrimos
                                muitas palavras que começam com A, e aprendemos a desenha-la..</p>
                            <figure class="image is-4by3">
                                <img src="../img/img-escola-educacao-infantil/alfabetizando.jpg">
                            </figure>
                        </div>
                    </article>
                </div>
                <div class="tile is-parent is-8">
                    <article class="tile is-child notification is-warning">
                        <article class="tile is-child">
                            <p class="title">Dia dos pais</p>
                            <p class="subtitle">Festa do dia dos pais na escola</p>
                            <figure class="image is-4by3">
                                <img src="../img/img-escola-educacao-infantil/festa-dia-pais.jpg">
                            </figure>
                        </article>
                    </article>
                </div>
            </div>
        </div>

    </main>
    <br>
    <br>
    <footer class="hero-foot has-text-centered">
        <div class="columns">
            <div class="column is-one-third">
                <h2 class="subtitle">Fique atualizado </h2>
                <p>Deixe seu e-mail para ficar sabendo de tudo que acontece na nossa escola!!</p>
                <form>
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" type="email" placeholder="Deixe seu email aqui">
                        </div>
                        <br>
                        <input class="button is-success is-outlined" type="submit" value="Enviar">
                    </div>   
                </form>
                </div>
                <div class="column is-one-third is-vcentered">
                    <ul>
                        <li> <i class="fa fa-home"></i> <a href="#">Inicio</a> </li>
                        <li> <i class="fa fa-address-book-o"></i> <a href="#">Sobre Nós</a></li>
                        <li> <i class="fa fa-book"></i> <a href="#">Nossas Atividades</a></li>
                        <li> <i class="fa fa-bullhorn"></i> <a href="#">Contato</a></li>
                    </ul>
                </div>
                <div class="column is-one-third">
                    <h2 class="subtitle">Nossos contatos</h2>
                    <ul>
                        <li><i class="fa fa-phone"> </i> (15)xxxx-xxxx</li>
                        <li><i class="fa fa-phone"></i> (15)xxxx-xxxx</li>
                        <li><i class="fa fa-envelope"></i> contato@corujunhas.com.br</li>
                        <li><i class="fa fa-envelope"></i> corujinhas@corujunhas.com.br</li>
                    </ul>
                </div>
            </div>
    </footer>

    <script async type="text/javascript" src="../js/bulma-navbar-toggle.js"></script>
    <script type="text/javascript" src="../js/bulma-carousel.js"></script>
    <script>
        var carousels = bulmaCarousel.attach();
    </script>
</body>